<div id="footer" class="mb-5">
    <hr>
    {{ if .Site.Params.socialIcons }}
    <div class="container text-center">
        {{ range $item := .Site.Params.socialIcons }}
    <a href="{{ $item.url }}" class="{{ $item.icon }} fa-2x" title="{{ $item.title }}" target="_blank" rel="noopener noreferrer"></a>
{{ end }}
    </div>
    {{ end }}
    <!-- Add Impressum und Datenschutz link -->
    <div class="container text-center">
        <a href="{{ "/legapauperlipsia/impressum-datenschutz" | relURL }}" title="Impressum und Datenschutz"><small>Impressum und Datenschutz</small></a>
    </div>
    {{ with .Site.Params.footer }}
        <div class="container text-center">
            <a href="{{ .url | absURL }}" title="{{ .text }}" {{ if .blank }}target="_blank"{{ end }}><small>{{ .text }}</small></a>
        </div>
    {{ end }}
</div>
